<table>
    <thead>
        <th>Day Number</th>
        <th>Exercise Type</th>
        <th>Duration</th>
        <th>Exercise explained</th>
    </thead>
    <tbody>
        <tr>
            <td>
                <div>Day 1</div>
            </td> 
            <td>
                <div>Full Body</div>
            </td>  
            <td>
                <div>32 Minutes</div>
            </td>
            <td>
                <div>10 Minutes:</div>
                <div><a href="https://drive.google.com/file/d/1ANzcF9ZgldhtGWvZrYVx94D-OE-TQEEh/view?t=2">A1. Squat to Reach: 5 reps</a></div>
                <div><a href="https://drive.google.com/file/d/16QzFSFvM1-qo021Vhc15VITf-ybrYrAl/view?t=4">A2. Hip Flexor Stretch: 20 sec</a></div>
                <div>10 Minutes:</div>
                <div><a href="https://drive.google.com/file/d/1NQDiGIiYi3QSc4BfHe0exnyOhIF0hQC7/view?t=2">B1. Alt DB Chest Press: 15 reps</a></div>
                <div><a href="https://drive.google.com/file/d/1zLnlgY2w-DwLqtMuUjqlkV8EiUlTAB0g/view?t=5">B2. DB Underhand Grip Row: 15 reps</a></div>
                <div><a href="https://drive.google.com/file/d/1_8xrHl3jLGEZcBTDADbYWlSyDwLVvgGB/view?t=5">B3. DB Split Squat: 15 reps</a></div>
                <div>2 Minutes Break</div>
                <div>10 Minutes:</div>
                <div><a href="https://drive.google.com/file/d/11K42CuOGO7MFZAyhwoF8nc9mO8Sw6hpM/view?t=5">C1. Reverse Crunch: 10 reps</a></div>
                <div><a href="https://drive.google.com/file/d/1XDgrBTMogQRDdxOFYnleDTmdz9_LU2cB/view?t=2">C2. Side Plank Elbow to Knee: 10 reps</a></div>
                <div><a href="https://drive.google.com/file/d/1R2jQJQmfUAr8C-7MhEIH9ngrFEDLqqBV/view?t=4">C3. Bear Crawls: 10 reps</a></div>
            </td>
        </tr>
        <tr>
            <td>
                <div>Day 2</div>
            </td> 
            <td>
                <div>Low Cardio</div>
            </td>  
            <td>
                <div>Minimum 30 minutes</div>
            </td>
            <td>
                <div>Cycling, Swimming, Jogging etc</div>
            </td>
        </tr>
        <tr>
            <td>
                <div>Day 3</div>
            </td> 
            <td>
                <div>Full Body</div>
            </td>  
            <td>
                <div>32 Minutes</div>
            </td>
            <td>
                <div>10 Minutes:</div>
                <div><a href="https://drive.google.com/file/d/1chgNS6qFJuklBiQ-nKbpCs5EVNFc3hOA/view">A1. Squat Prying: 20 sec</a></div>
                <div><a href="https://drive.google.com/file/d/1dM2mmhvPVOGdOAqr_reWxEnK9rJXJkWc/view">A2. Ts, Ys, Ls, Ws: 8 reps each</a></div>
                <div>10 Minutes:</div>
                <div><a href="https://drive.google.com/file/d/1OclIJkxapmLN9f9v039qk0n0FZAgdoOB/view">B1. Kickstand RDL: 10 reps</a></div>
                <div><a href="https://drive.google.com/file/d/1EEK8nn1thWNPa7TvpcmxUfMyI8vj3JNv/view?t=10">B2. Push-Ups: 10 reps</a></div>
                <div><a href="https://drive.google.com/file/d/1dNbdguiLWnVD_PbYmRuodVDS8CWZPqh4/view">B3. DB Glute Bridge Pullover: 10 reps</a></div>
                <div>2 Minutes Break</div>
                <div>10 Minutes:</div>
                <div><a href="https://drive.google.com/file/d/1fZENtJmaTWx0AUfKiYFGPeO6udP57X1H/view?t=2">C1. Goblet Squats: 15 reps</a></div>
                <div><a href="https://drive.google.com/file/d/1qmFY0EAWcTaGMgKT9oFHf_6v3lR4YcCO/view">C2. DB Curl: 15 reps</a></div>
                <div><a href="https://drive.google.com/file/d/1gkNoDGyUGtVHvbfzKEiOssD4Ydh4Zs9x/view?t=3">C3. DB Kickbacks: 15 reps</a></div>
            </td>
        </tr>
        <tr>
            <td>
                <div>Day 4</div>
            </td> 
            <td>
                <div>High Cardio</div>
            </td>  
            <td>
                <div>Minimum 30 minutes</div>
            </td>
            <td>
                <div>Running, Football etc</div>
            </td>
        </tr>
        <tr>
            <td>
                <div>Day 5</div>
            </td> 
            <td>
                <div>Full Body</div>
            </td>  
            <td>
                <div>32 Minutes</div>
            </td>
            <td>
                <div>10 Minutes:</div>
                <div><a href="https://drive.google.com/file/d/1OzWSHy91DMEUupR8ynfz-przHXiFJjFg/view?t=1">A1. Thoracic Bridge: 3 reps</a></div>
                <div><a href="https://drive.google.com/file/d/1oM0pGYKRrEl2hvM4a4_YWZD8yAIXPauc/view?t=3">A2. Plank Walkouts: 10 reps</a></div>
                <div>10 Minutes:</div>
                <div><a href="https://drive.google.com/file/d/1gZNMBIKZKlbqUwlJfOYBTmAM5aiLI-d_/view">B1. Alternating Lunges: 15 reps</a></div>
                <div><a href="https://drive.google.com/file/d/1CvIzE4_VmPW8A2gTX85AIZC1687A3yp-/view">B2. Alternating DB Shoulder Press: 15 reps</a></div>
                <div><a href="https://drive.google.com/file/d/13bufIAsfbzkCgpcfOG11gEJOZTN-VD6P/view">B3. DB Reverse Fly: 15 reps</a></div>
                <div>2 Minutes Break</div>
                <div>10 Minutes:</div>
                <div><a href="https://drive.google.com/file/d/10fty49jxzDYhTa--5yMDakZ33Gx-QJXb/view?t=2">C1. DB Side Raise: 10 reps</a></div>
                <div><a href="https://drive.google.com/file/d/1vrq1aGAeQ6B8iqP4Lea0rjG88PUSA3DC/view?t=1">C2. Plank Touches: 10 reps</a></div>
                <div><a href="https://drive.google.com/file/d/1zd1CKn0AtRCKg5Xbge1tfKyugi6K_ogw/view">C3. Single Arm Suitcase Carry: 20 steps</a></div>
            </td>
        </tr>
    </tbody>
</table>